.calculator-page {
  width: 100vw;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-size: 14px;
  background: #ffffff;
  .calculator {
    width: 300px;
    .calculator-display {
      background-color: black;
      padding: 10px;
      margin-bottom: 10px;
      .calculator-display-text {
        white-space: nowrap;
        text-overflow: clip;
        font-size: 2rem;
        text-align: right;
        color: white;
        width: 280px;
        overflow: hidden;
      }
    }
    .calculator-keypad  {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      .calculator-button {
        font-size: 30px;
        background-color: lightgray;
        border: 1px solid lightgray;
        padding: 10px;
        box-sizing: border-box;
        height: 60px;
        color: #333333;
        &:hover {
          color: #333333;
          border: 1px solid #000000;
        }
      }
    }
    .zero {
      grid-column: span 2;
    }
  }
}
